/***********************
************************/

@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fredoka&display=swap');

:root {
    --theme-color: #472479;
    --text-color: #000;
    --font-weight-lead: 500;
    --main-column-max: 1280px;
    --article-column-max: 720px;
}

* {
    box-sizing: border-box;
}


html,
body {
    font-family: 'Fredoka';
    font-size: 12px;
    background-color: white;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.cabecalho{
    margin-left: 10%;
    margin-right: 10%;
    background: white;
    /*box-shadow: 2px 2px 20px #d1d1d1;*/
    border-radius: 15px;
}


h2.subtitle,
.article-title,
.article-title-detail,
.article-author{
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    max-width: 100%;
    margin: 1rem auto;
}

.article-title,
.article-title-detail{
    /*font-family: 'Anton', sans-serif;*/
    font-family: 'Bebas Neue', cursive;
}

.article-title {
    font-size: 10.0rem;
}

.article-title-detail{
    font-size: 2.0rem;
}

.article-author {
    font-size: 1.2rem;
    text-transform: uppercase;
}

h2.subtitle {
    font-size: 1.3rem;
    font-weight: var(--font-weight-lead);
}

p {
    font-size: 2rem;
    padding: 0 6rem;
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 1rem auto;
}

.corpo-subtitulo, .corpo-subsubtitulo{
    font-family: 'Bebas Neue', cursive;
    max-width: 620px;
    margin: 1em auto;
    font-weight: 500;
}

.corpo-subtitulo{
  font-size: 5rem;
}

.corpo-subsubtitulo{
  font-size: 3rem;
}

.corpo-texto {

    max-width: 620px;
    margin: 1em auto;
    font-size: 2rem;

}

.cont-gal-horiz{
    text-align: left; 
    grid-column-start: 1;/* elemento começa no início da coluna 1  */
    grid-column-end: span 1;
    grid-row-start: auto;
    grid-row-end: auto; 
    background-color: #FF9B6D;
    border: 1px solid blueviolet;
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }



div.gal-horiz {
    margin: 3px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    padding: 10px;
    height: fit-content;
    box-shadow: 2px 2px 20px #d1d1d1;
}
  

div.gal-horiz:hover {
    border: 1px solid #777;
}
  

div.gal-horiz img {
    width: 100%;
    height: 80%;
}
  

div.desc {
    padding: 5px;
    text-align: left;
    font-size: 1.2rem;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }


div.img-texto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 100%;
    box-shadow: 2px 2px 20px #d1d1d1;
}  

.area-grafico {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.area-grafico > div {

    width: 200px;
    border: 1px solid hotpink;
    height: 400px;
    

}

.index-nav {
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.index-nav a{
  font-size: 12px;
  text-decoration: none;
  background: #000;
  height: 30px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}



.index-nav a.um{
  width: 60px;
}

.index-nav a.dois{
  width: 350px;
}

.index-nav a.dois_um{
  width: 60px;
}

.index-nav a.dois_dois{
  width: 60px;
}

.index-nav a.dois_tres{
  width: 70px;
}

.index-nav a.dois_quatro{
  width: 50px;
}

.index-nav a.dois_cinco{
  width: 70px;
}

.index-nav a.dois_seis{
  width: 70px;
}

.index-nav a.tres{
  width: 50px;
}

.index-nav a.quatro{
  width: 100px;
}

/*Carrossel*/

.gal_carro, gal_carro-nav{
  width: 100%;
  max-width: 620px;
  height: 100%;
  max-height: 620px;
}

.gal_carro{
  height: auto;
  margin: 20px auto;
  overflow: scroll;
  display: flex;
  overflow-x: scroll;
  overflow-y: scroll;
  scroll-behavior: smooth;
  gap: 10px;
}

.card_c1, .card_c2, .card_c3, .card_modogeral_01, .card_modogeral_02, .card_modogeral_03, .card_modogeral_04, .card_modogeral_05{
  width: 100%;
  height: 100%;
  aspect-ratio: 1.8;
  flex-grow: 0;
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  font-size: 2.5rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.card a{
  color: white;
}

.card_c1{
  background-image: url('assets/0_01_text.jpg');
}

.card_c2{
  background-image: url('assets/0_02_text.jpg');
}

.card_c3{
  background-image: url('assets/0_03_text.jpg');
}

.card-info{
    background-color: rgba(0,0,0);
    color: white;
    max-width: 300px;
    margin: auto;
    transition: opacity 0.5s linear;
}

.title{
    padding: 1rem 3rem;
    /*position: absolute;
    bottom: 0px;*/
}

.gal_carro-nav{
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.gal_carro-nav a{
font-size: 12px;
text-decoration: none;
background: #000;
width: 30px;
height: 30px;
border-radius: 15px;
color: white;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

.card_modogeral_01{
  background-image: url('assets/02_readfiles_text.jpg');
}

.card_modogeral_02{
  background-image: url('assets/03_entities_text.jpg');
}

.card_modogeral_03{
  background-image: url('assets/05_gender_text.jpg');
}

.card_modogeral_04{
  background-image: url('assets/04_quotes_text.jpg');
}

.card_modogeral_05{
  background-image: url('assets/06_attrib_text.jpg');
}
